@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@{
    User user = null;
    if (Context.Session.GetString("user") != null)
    {
        user = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
    List<CartItemDetail> cartList = null;
    if (Context.Session.GetString("cart") != null)
    {
        cartList = JsonConvert.DeserializeObject<List<CartItemDetail>>(Context.Session.GetString("cart"));
    }


}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<header id="main-header">
    <div class="grid wide">
        <div class="header" id="header">
            <nav class="header-nav">
                <ul>
                    <li class="logo">
                        <a href="../Home/index">
                            <img src="~/image/logo4.png" alt="">

                        </a>
                    </li>

                    <li class="menu">
                        <div class="menu__mobile" id="menu__mobile">
                            <p class="menu__mobile-click hide-on-pc hide-on-tablet">
                                <i class="fas fa-bars"></i>
                                Danh mục
                            </p>


                            <ul class="menu-list">
                                <div class="login__mobile hide-on-tablet hide-on-pc">
                                    <a asp-controller="User" asp-action="DangNhap">
                                        Đăng nhập
                                        <i class="fas fa-user-circle"></i>
                                    </a>
                                </div>
                                <li class="menu-list__products category-header-woman category-detail">
                                    <a href="/product/ShowProductsCate?page=1&cate_id=2">
                                        <span >NỮ</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProductsCate?page=1&cate_id=2">Toàn bộ sản phẩm</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=10">Giày sneaker</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=9">Giày cao cổ</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=8">Giày cao gót</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=6">Giày xăng đan</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=7">Giày lười</a></li>
                                    </ul>

                                </li>
                                <li class="menu-list__products category-detail-header category-detail">
                                    <a href="/product/ShowProductsCate?page=1&cate_id=1">
                                        <span >NAM</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProductsCate?page=1&cate_id=1">Toàn bộ sản phẩm</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=1">Giày sneaker</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=2">Giày cao cổ</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=3">Giày xăng đan</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=4">Giày da</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=5">Giày lười</a></li>
                                    </ul>
                                </li>

                                <li class="menu-list__products category-detail">
                                    <a href="/product/ShowProducts?page=1&subcate_id=11">
                                        <span >UNISEX</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=11">Giày thể thao</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=12">Giày sneaker</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=13">Giày da</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=14">Giày cao cổ</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=15">Giày xăng đan</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=16">Giày lười</a></li>
                                    </ul>
                                </li>
                                <li class="menu-list__products category-detail">
                                    <a href="/product/ShowProducts?page=1&subcate_id=17">
                                        <span >TRẺ EM</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=17">Giày bé trai</a></li>

                                        <li><a href="/product/ShowProducts?page=1&subcate_id=18">Giày bé gái</a></li>

                                    </ul>
                                </li>
                                <li class="menu-list__products  category-detail">
                                    <a href="/product/ShowProducts?page=1&subcate_id=19">
                                        <span >PHỤ KIỆN</span>
                                        <!-- <i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/ShowProductNewCate?page=1&cate_id=19">Vớ</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=22">Lót giày</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=20">Xi đánh giày</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=23">Bàn chải đánh giày</a></li>
                                        <li><a href="/product/ShowProducts?page=1&subcate_id=21">Dây giày</a></li>
                                    </ul>
                                </li>
                                <li class="menu-list__products category-detail">
                                    <a href="/product/Sale?page=1&cate_id=2" class="highlight">
                                        <span class="blink_me" >SALE 50%++</span>
                                        <!--<i class="fas fa-angle-down"></i> -->
                                    </a>
                                    <ul class="subMenu-list">
                                        <li><a href="/product/Sale?page=1&cate_id=2">Nữ</a></li>
                                        <li><a href="/product/Sale?page=1&cate_id=1">Nam</a></li>
                                    </ul>
                                </li>
                                <li><a href="../Home/About">LIÊN HỆ</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="others">
                        <ul class="others-list">
                            <li class="hide-on-mobile">
                                <div class="header-search">
                                    <input id="load_input" name="keyword" type="text" placeholder="Tìm kiếm" title="Tìm kiếm">
                                    <a id="click_me">
                                        <button type="button" title="Tìm kiếm">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </a>

                                </div>
                            </li>
                            <li>
                                <a>
                                    <i class="fas fa-paw" title="Tra cứu đơn hàng"></i>
                                </a>
                            </li>
                            <li class="hide-on-mobile search-cart--wrap">
                                <a asp-controller="User" asp-action="Index">
                                    <i class="fas fa-user" title="Đăng nhập"></i>
                                </a>
                                <div class="user-tab hide-on-mobile">
                                    @if(user == null)
                                    {
                                    <div class="user-info">
                                        <p>Bạn chưa đăng nhập</p>                                            
                                        <a style="width:100px;" class=" basic-btn" asp-controller="User" asp-action="DangNhap">Đăng nhập</a>
                                        <a style="width:100px;" class=" basic-btn" asp-controller="User" asp-action="DangKy">Đăng ký</a>

                                        @*<div class="btn-group">
                                        </div>*@
                                    </div>
                                    }
                                    else
                                    {
                                    <div class="user-info">
                                        <p>Chào mừng @user.Fullname</p>
                                        <a  class="basic-btn" href="../Order/ViewOrderCustomer?id=@user.ID">Đơn hàng</a>
                                        <a class="exit-btn" asp-controller="User" asp-action="LogOut">Đăng xuất</a>

                                    </div>
                                    }
                                </div>
                            </li>
                            <li class="search-cart--wrap">
                                <a asp-controller="Cart" asp-action="Index">
                                    <i class="fa fa-shopping-bag"></i>
                                </a>
                                <div class="cart__list hide-on-mobile cart__list_header" id="navbar-cart">
                                    @if (Context.Session.GetString("cart") == null || cartList.Count == 0)
                                    {
                                        <div class="flex-column justify-content-center">
                                            <img class="no-cart" src="~/image/no-cart.png" alt="">
                                            <span class="cart__list--empty">Chưa Có Sản Phẩm</span>
                                                
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="cart__list-header">Sản Phẩm Mới Thêm</p>
                                        <ul class="cart__list-list">
                                            @foreach (CartItemDetail item in cartList)
                                            {
                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img style="width:50px;" class="cart__list-item-img" src="~/image/@item.Image" alt="">


                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">@item.ProductName</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">@String.Format("{0:0,0;0} VND", item.PricePerUnit)</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">@item.Quantity</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: @item.ColorName</span>
                                                                    <span class="cart__list-item-size">Size: @item.SizeName</span>
                                                                </div>
                                                                @*<span class="cart__list-item-remove">Xóa</span>*@
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                        }

                                            @*<p class="cart__list-header">Sản Phẩm Mới Thêm</p>
                                            <ul class="cart__list-list">
                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">


                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH BATA 4066 JEAN XANH BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH </h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-2.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">150.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-3.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">2.070.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">2</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li class="cart__list-item">
                                                    <a href="">
                                                        <img class="cart__list-item-img" src="~/images/sneaker-nu-4.jpg" alt="">

                                                        <div class="cart__list-item-description">
                                                            <div class="cart__list-item-heading">
                                                                <h4 class="cart__list-item-name">BATA 4066 JEAN XANH</h4>

                                                                <div class="cart__list-item-detail">
                                                                    <span class="cart__list-item-cost highlight">80.000đ</span>
                                                                    <span class="cart__list-item-multiply">x</span>
                                                                    <span class="cart__list-item-quanlity">1</span>

                                                                </div>
                                                            </div>

                                                            <div class="cart__list-item-body">
                                                                <div class="cart__list-item-type">
                                                                    <span class="cart__list-item-color">Màu: xanh</span>
                                                                    <span class="cart__list-item-size">Size: 43</span>
                                                                </div>
                                                                <span class="cart__list-item-remove">Xóa</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>*@

                                            <div class="cart__list-footer">
                                                <a asp-controller="Cart" asp-action="index">
                                                    <button class="btn-submit ">Xem Giỏ Hàng</button>
                                                </a>
                                            </div>
                                    </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            @{
                int subcate_id = Convert.ToInt32(Context.Request.Query["subcate_id"]); //Lấy parameter page trên url
                int cate_id = Convert.ToInt32(Context.Request.Query["cate_id"]); //Lấy parameter page trên url

            }
        </div>
    </div>
</header>

<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    //Tìm kiếm bằng cách click vào biếu tượng search
    var load = document.getElementById('click_me');
    var input_value = document.getElementById('load_input').value;
console.log(input_value);
load.onclick = function () {
    var str = "/product/SearchProductByName?page=1&keyword=" + document.getElementById('load_input').value;
    document.getElementById('click_me').setAttribute('href', str)
    };
    //Tìm kiếm bằng nút Enter
    $("#load_input").on("keypress", function (e) {
        if (e.which === 13) {
            event.preventDefault();
            var str = "/product/SearchProductByName?page=1&keyword=" + $("#load_input").val();
            console.log(str);
            console.log($("#load_input").val());
            document.getElementById('click_me').setAttribute('href', str);
            document.getElementById("click_me").click();
        }
    });


if (@subcate_id >= 1 && @subcate_id <= 5) {
    $(".header-man").addClass("block");
}
if (@subcate_id >= 6 && @subcate_id <= 10) {
    $(".header-woman").addClass("block");
}
if (@subcate_id >= 11 && @subcate_id <= 16) {
    $(".header-unisex").addClass("block");
}
if (@subcate_id >= 17 && @subcate_id <= 18) {
    $(".header-child").addClass("block");
}
if (@subcate_id >= 19 && @subcate_id <= 23) {
    $(".header-items").addClass("block");
}
if (@subcate_id >= 24 && @subcate_id <= 25) {
    $(".header-sale").addClass("block");
    }

    if (@cate_id == 1) {
        $(".header-man").addClass("block");
    }
     if (@cate_id == 2) {
        $(".header-woman").addClass("block");
    }
     if (@cate_id == 3) {
        $(".header-unisex").addClass("block");
    }
     if (@cate_id == 4) {
        $(".header-child").addClass("block");
    }
     if (@cate_id == 5) {
        $(".header-items").addClass("block");
    }
    if (@cate_id == 6) {
        $(".header-sale").addClass("block");
    }

    $(".menu-list__products").each(function () {
        $(this).on("mouseover", function () {
            $(this > ".subMenu-list").css("display", "block");
        })
    })

    $(".category-detail").each(function () {

        $(this).on("click", function () {
            $(this).toggleClass("block");

        });

    });

</script>
