@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@using ShoesLover.Data;
@{
    List<CartItemDetail> cartItemDetails = new List<CartItemDetail>();
    StoreContext db = Context.RequestServices.GetService(typeof(StoreContext)) as StoreContext;
    double total = 0;
    if (Context.Session.GetString("checkout") != null)
    {
        List<CartItem> itemList = JsonConvert.DeserializeObject<List<CartItem>>(Context.Session.GetString("checkout"));
        foreach (var item in itemList)
        {
            CartItemDetail detailItem = item.ParseCartDetailItem(db);
            cartItemDetails.Add(detailItem);
            total += detailItem.PricePerUnit * detailItem.Quantity;
        }
    }
    User currentUser = new User();
    if (Context.Session.GetString("user") != null)
    {
        currentUser = JsonConvert.DeserializeObject<User>(Context.Session.GetString("user"));
    }
}


@section Styles{
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/checkout.css" rel="stylesheet" />

}
<!---------------------------------------- Order-1 ---------------------------------------->
<div class="container" style="margin-bottom: 80px">
    <div class="grid wide">
        <div class="row">
            <div class="col l-12 m-12 c-12" style="display: flex; margin-top:30px;">

                <div class="order-1-info col l-6 m-6 c-12" style="width:50%;">
                    <h4 class="text-center mt-2">Vui lòng nhập thông tin giao hàng</h4>
                    @if (Context.Session.GetString("user") == null)
                    {
                        <div class="order-1-info-way">
                            <a href="../user/dangnhap">
                                <i class="fas fa-sign-in-alt"></i>
                                Đăng nhập (Để nhận Voucher giảm giá cho đơn hàng)
                            </a>
                            <br>
                            <a href="../user/dangky">
                                <i class="fas fa-sign-in-alt"></i>
                                Đăng ký (Nếu chưa có tài khoản)
                            </a>
                            <br>
                            <label for="guest">
                                <input type="radio" class="buy-type" id="guest" checked>
                                <span>Mua hàng không cần tài khoản</span> (Vui lòng điền các thông tin bên dưới)
                            </label>
                        </div>
                    }


                    <div class="pay-info sign signup">
                        <form asp-action="ConfirmOrder" method="post" id="orderForm">
                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <label for="signup-lastname">
                                        <span>Tên người nhận hàng <span class="highlight">*</span> </span>
                                        <br>
                                        <input class="form-control" required name="fullname" type="text" value="@currentUser.Fullname" id="signup-lastname" placeholder="Họ...">
                                    </label>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="signup-phone">
                                        <span>Số điện thoại liên lạc </span>
                                        <br>
                                        <input class="form-control" name="phone" type="text" value="@(string.IsNullOrEmpty(currentUser.Phone) ? "" : currentUser.Phone)" id="signup-phone" placeholder="Điện thoại...">
                                    </label>
                                </div>



                                <div class="col-sm-6 mb-3">
                                    <label for="signup-province">
                                        <span>Tỉnh/TP <span class="highlight">*</span> </span>
                                        <br>
                                        <select class="form-control form-select" required name="province" id="signup-province">
                                            <option value="'.$customer['customer__province'].'"></option>';
                                            <!--  } -->
                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-6 mb-3">
                                    <label for="signup-district">
                                        <span>Quận/Huyện <span class="highlight">*</span> </span>
                                        <br>
                                        <select class="form-control form-select" required name="district" id="signup-district">
                                            <option value=""></option>

                                        </select>
                                    </label>
                                </div>
                                <div class="col-sm-12 mb-3">
                                    <label for="addressDetail">
                                        <span>Số nhà, đường <span class="highlight">*</span> </span>
                                        <br>

                                        <input class="form-control" required name="addressDetail" id="addressDetail" placeholder="Địa chỉ nhà, đường">
                                    </label>
                                </div>
                                <input id="fullAddress" type="hidden" name="fullAddress" value="" class="form-control wide">
                                <br />

                            </div>
                            <input type="hidden" id="get-coupond_id" name="coupon" value="" />
                            <input type="hidden" id="get-payment_status" name="payment_status" value="0" />
                            <input type="hidden" id="get-payment_method" name="payment_method" value="1" />
                            <input type="hidden" id="get-payment_name" name="payment_name" value="Thanh toán khi nhận hàng" />
                            <div class="row flex-row justify-content-center align-items-center">
                                <button type="submit" class="pay btn btn-dark m-3 btn-order">Thanh toán khi nhận hàng</button>

                            </div>


                        </form>

                    </div>

                </div>


                <div class="col l-6 m-6 c-12" style="width:50%;">
                    <div class="order-1-money">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tên sản phẩm</th>
                                    <th>Chi tiết</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            @foreach (var item in cartItemDetails)
                            {
                                <tr>
                                    <td>
                                        @item.ProductName
                                    </td>
                                    <td>
                                        @{
                                            string color = item.ParseCartDetailItem(db).ColorName;
                                            string size = item.ParseCartDetailItem(db).SizeName;
                                        }
                                        Màu: @color<br /> Kích thước: @size
                                    </td>
                                    <td>
                                        <span>@item.Quantity</span>  <!--Số lượng-->
                                    </td>
                                    <td>@(String.Format("{0:0,0;0} VND", (item.Quantity * item.PricePerUnit)))</td>  <!--Tiền x số lượng-->
                                </tr>
                            }





                            <tbody>
                            </tbody>
                            <tfoot>
                                <!--  <tr>
                                    <td colspan="3" class="font-weight-bolder">
                                      <!-- Tổng số tiền cần thanh toán:  <span>String.Format("{0:0,0;0} VND", total)</span>

                                    </td>
                                </tr>  -->
                            </tfoot>
                        </table>
                        <div class="close-payment">
                            <div class="temp-price" style="margin-bottom: 10px;"><span>Tạm tính:&nbsp;</span><span>@(String.Format("{0:0,0;0} VND", total))</span></div>
                            <div id="show-sale-price"></div>
                            <div id="show-total"></div>
                        </div>
                        <div class="close-payment-2">
                            <div class="temp-price" style="margin-bottom: 10px;"><span>Tạm tính:&nbsp;</span><span>@(String.Format("{0:0,0;0} VND", total))</span></div>
                            <div id="show-sale-price-2"></div>
                            <div id="show-total-2"></div>
                        </div>
                        <div class="close-payment-3">
                            <div class="temp-price" style="margin-bottom: 10px;"><span>Tạm tính:&nbsp;</span><span>@(String.Format("{0:0,0;0} VND", total))</span></div>
                            <div id="show-sale-price-3"></div>
                            <div id="show-total-3"></div>
                        </div>

                        <div class="coupon-voucher">
                            <div style="margin-bottom: 10px;"><i class="fas fa-dollar-sign"></i><span> Voucher 5% (áp dụng cho đơn hàng trên 1.000.000<sup>đ</sup>)</span><button id="6c5cdada274b85ed586a" class="btn-coupon-price btn-coupon-1" style="margin-left: 37px; background: rgb(40,167,69); color:white;">Áp dụng</button></div>
                            <div style="margin-bottom: 10px;"><i class="fas fa-dollar-sign"></i><span> Voucher 10% (áp dụng cho đơn hàng trên 2.000.000<sup>đ</sup>)</span><button id="cd6dd524a9a37a1f4a08" class="btn-coupon-price btn-coupon-2" style="margin-left: 30px">Áp dụng</button></div>
                            <div style="margin-bottom: 10px;">
                                <i class="fas fa-dollar-sign"></i><span> Voucher 20% (áp dụng cho đơn hàng trên 5.000.000<sup>đ</sup>)</span><button id="4c8abdcd4a842dd42a75" class="btn-coupon-price btn-coupon-3" style="margin-left: 30px">Áp dụng</button>
                            </div>

                        </div>
                        <div style="margin-bottom: 20px;">

                            <label>Nhập mã giảm giá: &nbsp;</label><input class="coupon-code" type="text" />

                        </div>

                        <div id="total-payment" style=" text-align: center; font-size: 18px; font-weight: bold;">  TỔNG THANH TOÁN:  <span id="@total" class="total-all">@total</span><span></span></div>
                        @{
                            double vnd_to_usd = (double)total / 22715;
                        }
                        <div>

                            <div class="btn-paypal">
                                <div id="paypal-button" style="text-align: center; margin-top: 15px;">
                                    <input type="hidden" id="vnd_to_usd" value="@Math.Round(vnd_to_usd,2)" />

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .coupon {
        display: flex;
        justify-content: space-around;
    }

    .close-payment-2, .close-payment-3 {
        display: none;
    }

    .temp-price {
        display: flex;
        justify-content: space-between;
    }

    tr:last-child {
        border-bottom: 1px solid #ccc;
    }

    .coupon-voucher {
        display: flex;
        flex-direction: column;
    }

    .btn-coupon-price {
        background: rgb(40,167,69);
        color: white;
        width: 70px;
        height: 35px;
        border: none;
        border-radius: 5px;
    }

    .coupon-voucher {
        margin-top: 40px;
    }
</style>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#total-post').val($('#total-show').val())
        })

    </script>

    <script src='https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js'></script>


    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>

        var usd = $("#vnd_to_usd").val();;
        //  alert(usd);
        paypal.Button.render({
            // Configure environment
            env: 'sandbox',
            client: {
                sandbox: 'AfdYgDuvJ2fVHKGBWF7L1kOtcPEQgEISxKTMEYfkKlEfMFAQWVhTtjA8_WcRF2OuhGH4BpeusfwWSapu',
                production: 'demo_production_client_id'
            },
            // Customize button (optional)
            locale: 'en_US',
            style: {
                size: 'small',
                color: 'gold',
                shape: 'pill',
            },

            // Enable Pay Now checkout flow (optional)
            commit: true,

            // Set up a payment
            payment: function (data, actions) {
                return actions.payment.create({
                    transactions: [{
                        amount: {
                            total: `${usd}`,
                            currency: 'USD'
                        }
                    }]
                });
            },

            onClick: function (data) {
                // Show a cancel page, or return to cart
                //$("#get-payment_status").val(1); 
                //$("#get-payment_method").val(2);
                //$("#get-payment_name").val("Thanh toán online");
                if ($("#addressDetail").val() == "") {
                    window.alert('Bạn phải điền thông tin địa chỉ trước khi thanh toán!');
                    return;
                }
              
              
            },

            // Execute the payment
            onAuthorize: function (data, actions) {
                return actions.payment.execute().then(function () {
                    // Show a confirmation message to the buyer
                    $("#get-payment_status").val(1);
                    $("#get-payment_method").val(2);
                    $("#get-payment_name").val("Thanh toán online");


                    window.alert('Cảm ơn bạn đã mua hàng!');
                    $("#orderForm").submit();
                    
                });
            }
        }, '#paypal-button');



    </script>



    <script>
        $(".btn-order").on("click", function () {
           var status= $("#get-payment_status").val();
           var method = $("#get-payment_method").val();
            var name = $("#get-payment_name").val();
            //alert(status);
            //alert(method);
            //alert(name);
        })

       $(document).ready(function () {
            const selectProvince = $('#signup-province')
            const selectDistrict = $('#signup-district')
            const fullAddress = $("#fullAddress")
            const addressDetail = $("#addressDetail")
            // Load address from databse
            let htmlProvinceFromDb = ``;
            for (let key in c) {
                if (selectProvince.val() == key)
                    htmlProvinceFromDb += `<option selected value="${key}">${c[key]}</option>`
                else htmlProvinceFromDb += `<option value="${key}">${c[key]}</option>`
            }
            selectProvince.html(htmlProvinceFromDb)
            const dataDistrict = arr[selectProvince.val()];
            let htmlDistrictFromDb = ``;
            for (let key in dataDistrict) {
                if (selectDistrict.val() == key)
                    htmlDistrictFromDb += `<option selected value="${key}">${dataDistrict[key]}</option>`
                else htmlDistrictFromDb += `<option value="${key}">${dataDistrict[key]}</option>`
            }
            selectDistrict.html(htmlDistrictFromDb)
            //update address
            selectProvince.change(function () {
                const keyProvince = selectProvince.val();
                const dataDistrict = arr[keyProvince];
                let htmlDistrict = ``;
                for (let key in dataDistrict) {
                    htmlDistrict += `<option value="${key}">${dataDistrict[key]}</option>`
                }
                selectDistrict.html(htmlDistrict)
                setFullAddress()
            })
            selectDistrict.change(() => {
                setFullAddress();
            })
            addressDetail.change(() => {
                setFullAddress()
            })
            function setFullAddress() {
                fullAddress.val(addressDetail.val() + ", " + dataDistrict[parseInt(selectDistrict.val())] + ", " + c[parseInt(selectProvince.val())]);
            }
        })
        //Coupon
        $(".btn-coupon-1").on("click", function () {
            $(".close-payment-2").css("display", "none");
            $(".close-payment-3").css("display", "none");
            $(".close-payment").css("display", "block");
            var coupon = $(this).attr("id");
            $(".coupon-code").val(coupon);
            if (coupon == '6c5cdada274b85ed586a') {
                if (@total >= 1000000) {
                    var coupon = '@(String.Format("{0:0,0;0} VND", 0.05*total))';
                 var payment = '@(String.Format("{0:0,0;0} VND", 0.95*total))';
                    $("#get-coupond_id").val(0.05);
                    $("#show-sale-price").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Khuyến mãi: </span><span>-' + `${coupon}` +'</span></div>');
                   $("#show-total").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Thành tiền: </span><span>' + `${payment}` +'</span></div>');
                    $(".total-all").empty();
                    var to = '@(String.Format("{0:0,0;0} VND", 0.95*total))';
                    $(".total-all").html('<span>'+  `${to}`+  '</span>');
                }
                else {
                    alert("Thành tiền đơn hàng của bạn không đủ để áp dụng Voucher này!");
                    $(".coupon-code").val("");
                }
            }
        });
        $(".btn-coupon-2").on("click", function () {
            $(".close-payment").css("display", "none");
            $(".close-payment-3").css("display", "none");
            $(".close-payment-2").css("display", "block");
                var coupon = $(this).attr("id");
            $(".coupon-code").val(coupon);
            if (@total >= 2000000) {
                var coupon = '@(String.Format("{0:0,0;0} VND", 0.1*total))';
                 var payment = '@(String.Format("{0:0,0;0} VND", 0.9*total))';
                    $("#get-coupond_id").val(0.1);
                    $("#show-sale-price-2").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Khuyến mãi: </span><span>-' + `${coupon}` +'</span></div>');
                $("#show-total-2").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Thành tiền: </span><span>' + `${payment}` +'</span></div>');
                    $(".otal-all").empty();
                    var to = '@(String.Format("{0:0,0;0} VND", 0.9*total))';
                    $(".total-all").html('<span>'+  `${to}`+  '</span>');
                }
                else {
                    alert("Thành tiền đơn hàng của bạn không đủ để áp dụng Voucher này!");
                    $(".coupon-code").val("");
                }
          });
        $(".btn-coupon-3").on("click", function () {
            $(".close-payment-2").css("display", "none");
            $(".close-payment").css("display", "none");
            $(".close-payment-3").css("display", "block");
                 var coupon = $(this).attr("id");
            $(".coupon-code").val(coupon);
                if (@total >= 5000000) {
                   var coupon = '@(String.Format("{0:0,0;0} VND", 0.2*total))';
                 var payment = '@(String.Format("{0:0,0;0} VND", 0.8*total))';
                    $("#get-coupond_id").val(0.2);
                    $("#show-sale-price-3").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Khuyến mãi: </span><span>-' + `${coupon}` +'</span></div>');
                $("#show-total-3").html('<div class="temp-price check-coupon" style="text-align: right;margin-bottom:10px;"><span>Thành tiền: </span><span>' + `${payment}` +'</span></div>');
                    $(".total-all").empty();
                    var to = '@(String.Format("{0:0,0;0} VND", 0.8*total))';
                    $(".total-all").html('<span>'+  `${to}`+  '</span>');
                }
                else {
                    alert("Thành tiền đơn hàng của bạn không đủ để áp dụng Voucher này!");
                    $(".coupon-code").val("");
                }
        });

    </script>






}


