

             
                        @foreach (var item in ViewBag.ShowDetailOrder)
                        {<!--<p>Mã đơn hàng: item.ID</p>  -->
                            <div class="order-title" style="margin-top:50px; margin-bottom:20px;">
                                <p style="font-weight: bold;">Ngày đặt: @item.OrderDate</p>
                                @if (item.Status == 0)
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: blue;">Chờ xác nhận</span></p>
                                }
                                else if (item.Status == 1)
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: rgb(144,69,0)">Chờ lấy hàng</span></p>
                                }
                                else if (item.Status == 2)
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: blue;">Đang giao</span></p>
                                }
                                else if (item.Status == 3)
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: green;">Đã giao</span></p>
                                }
                                else if (item.Status == 4)
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: red;">Đã huỷ</span></p>
                                }
                                else
                                {
                                    <p style="font-weight:bold;">Trạng thái: <span style="color: #002200">Trả hàng</span></p>
                                }

                            </div>
                            <div class="order-table-list">
                                <table style="width:90%">
                                    <tr>

                                        <th style="width:150px;"><p style="width: 60%; ">Hình</p></th>
                                        <th>Tên</th>
                                        <th>Size</th>
                                        <th>Màu</th>
                                        <th>Số lượng</th>
                                        <th>Giá</th>



                                    </tr>



                                    @foreach (var index in item.orderlist)
                                    {
                                        <tr>
                                            <td class="img-pro-order"><img style="width: 60%; padding:5px 10px;" src="~/image/@index.ProductImage" /></td>
                                            <td style="text-align:center">@index.ProductName</td>
                                            <td style="text-align:center">@index.SizeName</td>
                                            <td class="img-color-order"><img style="width: 30%" src="~/image/@index.ColorImage" /></td>
                                            <td style="text-align:center">@index.Quantity</td>
                                            <td style="text-align:center">@index.SalePrice</td>
                                        </tr>
                                    }





                                </table>
                            </div>
                            <div class="order-cancel-status">
                                @if (item.Status != 4)
                                {
                                    <button id=" @item.OrderDate" style="margin-right: 30px; padding:5px; height:30px;" class="btn-cancel-order" value="@item.ID">Huỷ đơn hàng</button>

                                }
                                @if (item.Status == 4)
                                {
                                    <p class="order-total">Tổng tiền: 0<sup>đ</sup></p>
                                }
                                else
                                {
                                    <p class="order-total">Tổng tiền:@item.Total<sup>đ</sup></p>
                                }

                            </div>

                        }
                    


              






<div class="modal-delete">
    <div class="modal-overlay"></div>
    <div class="modal-body">
        <div class="delete-order-title">
            <div style="margin: 20px 0 20px 20px; font-size: 16px;">Lý do huỷ đơn hàng</div>
            <p class="btn-x-modal" style="cursor:pointer;margin: 20px 20px 20px 0; font-size: 16px;">X</p>
        </div>
        <div style="margin:0 20px;">
            <textarea id="get-reason" style="border-bottom: 1px solid #ccc; margin-top: 20px; padding-bottom: 20px; width: 100%; height: 150px; font-size: 16px;" placeholder="Lý do huỷ đơn hàng ... (bắt buộc)"></textarea>

        </div>
        <div style="margin: 20px 0; border-top: 1px solid #ccc;width: 100%; text-align: right; ">
            <button class="btn-x-modal" style="margin-top: 20px ;border:1px solid #ccc; border-radius: 5px;  margin-right: 20px; font-size: 16px; padding: 5px; ">Đóng</button>
            <button class="btn-order-cancel" style="margin-top: 20px; border: 1px solid #ccc; border-radius: 5px; margin-right: 20px; font-size: 16px; padding: 5px; background: rgb(25,135,84); color: white; ">Gửi</button>
        </div>

    </div>

</div>
<style>

    .modal-delete {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: none;
        z-index: 3;
    }

    .delete-order-title {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #ccc;
    }

    .modal-body {
        background: white;
        z-index: 1;
        margin: auto;
        width: 600px;
        height: 330px;
        position: relative;
        margin-top: 300px;
    }

    .modal-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
    }

    li {
        list-style: none;
    }

    .order-detail-info {
        background: white;
        margin-top: 50px;
        margin-bottom: 50px;
        padding-bottom: 40px;
    }

    .row-item {
        display: flex;
        align-items: center;
    }

    .btn-cancel-order {
        background: rgb(215,52,67);
        color: white;
        border: 1px solid white;
        border-radius: 5px;
        font-size: 16px;
    }

    .order-cancel-status {
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
        align-items: center;
    }

    .order-detail-info-table {
        padding-top: 60px;
        display: flex;
        flex-direction: column;
    }

    .order-title {
        display: flex;
        justify-content: space-around;
    }

    .order-table-list {
        display: flex;
        justify-content: center;
    }

    .order-total {
        text-align: right;
        margin-right: 50px;
        font-size: 16px;
        font-weight: bold;
    }

    .container {
        background: rgb(245,245,245);
    }

    .list-function li {
        margin-bottom: 20px;
    }

    .list-status-order {
        display: flex;
        justify-content: space-around;
        background: white;
        color: black;
        align-items: center;
        height: 50px;
        font-size: 16px;
    }

    .customer-infor-order {
        display: flex;
        margin-bottom: 70px;
    }

    .customer-name {
        display: flex;
        flex-direction: column;
    }

    .customer-img img {
        width: 40px;
    }

    tr:first-child, tr:last-child {
        border-bottom: 1px solid #ccc;
    }

    table {
        border-collapse: collapse;
    }
    /*.img-pro-order{
        display: flex;
        justify-content: center;
    }   */
    .img-color-order img {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .list-status-order li {
        padding: 15px;
    }

    .active-order-status {
        border-bottom: 1px solid red;
    }

    .li-item-status {
        cursor: pointer;
    }
</style>






<script src="~/js/products.js"></script>
<script src="~/js/productHover.js"></script>
<script>

    $(".btn-cancel-order").on("click", function () {
        $(".modal-delete").css("display", "block");
    })

    $(".btn-x-modal").on("click", function () {
        $(".modal-delete").css("display", "none");
    })




    $(".btn-cancel-order").each(function () {
        $(this).on("click", function () {

            var order_id = $(this).val();
            var old_order_date = $(this).attr("id");


            $(".btn-order-cancel").on("click", function () {

                var reason = $("#get-reason").val();
                $.ajax({
                    url: "../Order/UpdateOrderReason",
                    type: "POST",
                    dataType: "html",
                    data: { order_id: order_id, old_order_date: old_order_date, text: reason },
                    success: function (data) {
                        alert("Đơn hàng đã huỷ thành công");
                    },
                    error: () => alert("something wrong")
                });
            });



        });
    });
    $(".li-item-status").each(function () {
        $(this).on("click", function () {
            var current = document.getElementsByClassName("active-order-status");
            current[0].className = current[0].className.replace(" active-order-status", "");
            this.className += " active-order-status";
        })
    })



    $(".li-item-status").each(function () {
        $(this).on("click", function () {

            var status_id = $(this).val();
            var uid = @Model.ID;

            $.ajax({
                url: "../Order/ShowOrderStatus",
                type: "POST",
                dataType: "html",
                data: {uid: uid, status_id : status_id },
                success: function (data) {
                    $(".order-detail-info-table").empty();
                    $(".order-detail-info-table").html(data);
                },
                error: () => alert("something wrong")
            });
        })

    });

    $(".li-all-status").on("click", function () {
        var uid = @Model.ID;
        $.ajax({
            url: "../Order/ViewAllOrderCustomer",
            type: "POST",
            dataType: "html",
            data: { uid: uid},
            success: function (data) {
                $(".order-detail-info-table").empty();
                $(".order-detail-info-table").html(data);
            },
            error: () => alert("something wrong")
        });


    });




</script>
