

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<link href="~/css/rating_review.css" rel="stylesheet" />
<div class="products">
    <div class="row ">
        @foreach (var item in ViewBag.ShowProducts)
        {
            <div class="col l-4 m-4 c-6">
                @{ Color a = new Color();
                    a = item.productcolorMaster[0];
                    <li class="li-product-id" value="@item.Id" style="list-style:none;">
                        <a href="ShowProductDetailObject?color_id=@a.Id&product_id=@item.Id" class="product">
                            <img id="product-img-@item.Id" class="product-image" src="~/image/@item.DefaultImage" alt="">
                            <h4 class="product-name">@item.ProductName</h4>
                        </a>
                        <p class="sale-label">
                            <span>SALE</span>
                        </p>
                    </li>

                    <!--fomat money-->
                    double regular = item.RegularPrice; <!--Đặt dấu . vào tiền-->
                    double sale = item.SalePrice;
                    string regular_price = regular.ToString("N0",
                    System.Globalization.CultureInfo.GetCultureInfo("de"));
                    string sale_price = sale.ToString("N0",
                   System.Globalization.CultureInfo.GetCultureInfo("de"));

                    <!--Wishlist-->
                    <input type="hidden" value="@item.ProductName" class="wishlist-product_name-@item.Id" />
                    <input type="hidden" value="@item.DefaultImage" class="wishlist-default_image-@item.Id" />
                    <input type="hidden" value="@regular_price" class="wishlist-regular_price-@item.Id" />
                    <input type="hidden" value="@sale_price" class="wishlist-sale_price-@item.Id" />
                    <a class="wishlist_product_url-@item.Id" href="/product/ShowProductDetailObject?color_id=@a.Id&product_id=@item.Id"></a>
                }
                <p class="p-money" style="text-align:center;"><span class="span-money" style="text-decoration:line-through; color:rgb(153,153,153);">@regular_price<sup>đ</sup></span><span></span><span style="color: red;">@sale_price<sup>đ</sup></span></p>
                <div class="rating-product-interface-@item.Id rating-product-temp">
                    <div style=" font-size: 25px; cursor: default; " id="@item.Id" class="button_wishlist heart-color" onclick="add_wishlist(this.id)">&#10084;</div>


                    @{
                        double rating_d = item.ratingProduct;

                        int rating;
                        var color = "";
                        if (rating_d == 0)
                        {
                            rating = 0;
                            color = "";
                        }
                        else
                        {
                            rating = Convert.ToInt32(Math.Ceiling(rating_d));
                            color = "";
                        }


                        <ul class="list-rating">

                            @for (int i = 1; i <= 5; i++)
                            {
                                if (i <= rating)
                                {
                                    color = "color:#ffcc00;";
                                }
                                else
                                {
                                    color = "color:#ccc;";
                                }

                                <li class="rating" title="Star rating" id="" data-index="@i" data-rating="@rating"
                                    data-product_id="" data-color_id="" style="color:#ccc;cursor:text; font-size:30px; @color">&#9733;</li>

                            }

                        </ul>
                    }
                   
                </div>

                <div class="watcher-product">
                    <ul>
                        @foreach (var index in item.productcolorMaster)
                        {
                            <li value="@index.Id" class="li-color-@item.Id">
                                <a>
                                    <img id="color_small_@index.Id" class="img-color-small" src="~/image/@index.ColorImage" alt="">
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>

</div>
@{
    double page_all = Convert.ToDouble(ViewBag.GetTotalPage / Convert.ToDouble(9));
    int page_total = Convert.ToInt32(Math.Ceiling(page_all));
    int page_url = Convert.ToInt32(Context.Request.Query["page"]); //Lấy parameter page trên url
    int page_prev = page_url - 1;
    int page_after = page_url + 1;

}
<div class="pagination-top">
    <ul>
        @{
            if (page_url > 1)
            {
                <li class="btn prev btn-pagination-prev" value="@page_url">
                    <p class="pagination-last" style="width:32px; height:32px; ">
                        <i style="width:32px; height:32px;" class="fas fa-angle-left"></i>
                    </p>
                </li>
            }

            @for (int j = 1; j <= page_total; j++)
            {
                <li class="btn-pagination" value="@j">
                    @if (page_url == j)
                    {
                        <a style="width:32px; height:32px; color: white; background: red">@j</a>
                    }
                    else
                    {
                        <a style="width: 32px; height: 32px;">@j</a>
                    }
                </li>
            }
            if (page_url < page_total)
            {
                <li class="btn next btn-pagination-next" value="@page_url">
                    <p class="pagination-last" style="width:32px; height:32px;">
                        <i style="width:32px; height:32px;" class="fas fa-angle-right"></i>
                    </p>
                </li>
            }
        }
    </ul>
</div>
<script src="~/js/wishlist.js"></script>
<script src="~/js/rating_review.js"></script>
<script src="~/js/jquery-3.6.0.min.js"></script>
<script>

    //Xử lý khi bấm vào số page
    $(".btn-pagination").each(function () {
        $(this).on("click", function () {
            var page = $(this).val();

            if (size_id != undefined && color_id == undefined) {
                $.ajax({
                    url: '@Url.Action("GetProductBySizeCate","product")',
                    type: "Get",
                    dataType: "html",
                    data: { page: page, size_id:@ViewBag.GetSize, cate_id:@ViewBag.GetCate  },
                    success: function (data) {
                        $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                        $("#content").html(data);//load lạ
                    },
                    error: () => alert("something wrong")
                });

            }
        });
    });
    //Xử ly nút mũi tên về page sau
    $(".btn-pagination-next").on("click", function () {

        var page = $(this).val() + 1;

        if (size_id != undefined && color_id == undefined) {
            $.ajax({
                url: '@Url.Action("GetProductBySizeCate","product")',
                type: "Get",
                dataType: "html",
                data: { page: page, size_id:@ViewBag.GetSize, cate_id:@ViewBag.GetCate  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lạ
                },
                error: () => alert("something wrong")
            });

        }


    });

    //Xử ly nút mũi tên về page trước
     $(".btn-pagination-prev").on("click", function () {

        var page = $(this).val() - 1;

        if (size_id != undefined && color_id == undefined) {
            $.ajax({
                url: '@Url.Action("GetProductBySizeCate","product")',
                type: "Get",
                dataType: "html",
                data: { page: page, size_id:@ViewBag.GetSize, cate_id:@ViewBag.GetCate  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lạ
                },
                error: () => alert("something wrong")
            });

        }


     });


         var size_id;
        var color_id;
    $(".filter-color-item").each(function () {
        $(this).on("click", function () {
            color_id = $(this).val();
        });
    });
    $(".filter-size-item").each(function () {
        $(this).on("click", function () {
            size_id = $(this).val();
        });
    });
    $("#btn-cancel-color").on("click", function () {  //Gán lại undefined cho color_id khi mà nhấn nút huỷ
        color_id = undefined;
    })
    $("#btn-cancel-size").on("click", function () {  //Gán lại undefined cho size_id khi mà nhấn nút huỷ
        size_id = undefined;
    })

    $("#btn-filter-product").on("click", function () {
        // Lọc theo size
        if (size_id != undefined && color_id == undefined) {

            $.ajax({
                url: '@Url.Action("GetProductBySizeCate","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, size_id: size_id, cate_id: @ViewBag.GetCate  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });
        }
        //Lọc theo color
        else if (size_id == undefined && color_id != undefined) {
            $.ajax({
                url: '@Url.Action("GetProductByColorCate","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, color_id: color_id, cate_id: @ViewBag.GetCate },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });

        }
        else {
            $.ajax({
                url: '@Url.Action("GetProductByColorSizeCate","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, color_id: color_id, size_id:size_id, cate_id: @ViewBag.GetCate  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });
        }



    });


</script>
