@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SubCateObject
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link href="~/css/products.css" rel="stylesheet" />
<link href="~/css/container.css" rel="stylesheet" />
<div class="container">
    <div class="grid wide">
        <div class="row">
            <div class="col l-12 m-12 c-0">
                <div class="navigation">
                    <ul class="navigation-list">
                        <li class="navigation-item">
                            <a href="../home/index">Trang chủ</a>
                            <span>&rarr;</span>

                        </li>
                        <li class="navigation-item">
                            <a href="/product/ShowProductsCate?page=1&cate_id=@Model.Category_id">@Model.Category_name</a>
                            <span>&rarr;</span>
                        </li>

                        <li>
                            <a href="/product/ShowProducts?page=1&subcate_id=@Model.SubCate_id" style="color: red; font-weight:700;">@Model.SubCategory_name</a>
                        </li>

                    </ul>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/container_cate.cshtml")

            <div class="col l-9 m-12 c-12">

                @{ int subcate_url = Convert.ToInt32(Context.Request.Query["subcate_id"]); //Lấy parameter page trên url
                }

                <!-- <form method="get" asp-controller="product" asp-action="ShowProductFilter">
                     <input type="hidden" name="page" value="1" />
                     <input id="get-size-id" type="hidden" name="size_id" />
                    <input id="get-color-id" type="hidden" name="color_id" />
                     <input  type="hidden" name="subcate_id" value="subcate_url"/>  -->
                <div class="filter-product">
                    <div style="position:relative; top:23px;font-size: 17px; font-weight: 700; text-transform: uppercase;">@Model.SubCategory_name</div>
                    <div class="filter-function">
                        <div class="filter-modify">
                            <div>Bộ lọc</div>
                            <i class="fas fa-sort-down"></i>
                            <input type="hidden" class=" active-filter" />
                        </div>
                        <select class="sort-price" id="btn-select-price">
                            <option>Giá</option>
                            <option value="ShowPriceDESCSubCate">Giá: Cao đến thấp</option>
                            <option value="ShowPriceASCSubCate">Giá: Thấp đến cao</option>
                        </select>
                    </div>
                </div>
                <div class="filter-around">
                    <div class="filter-product-box ">
                        <div class="filter-product-flex-col">
                            <div class="filter-product-size">
                                SIZE:
                                <div class="filter-size-list">
                                    @foreach (var item in ViewBag.ShowSizeSub)
                                    {
                                        <li class="filter-size-item" value="@item.Id" style="cursor:pointer;list-style:none; margin-right:15px;"><p>@item.SizeName</p></li>
                                    }
                                </div>
                                <input type="hidden" class="active-size" />
                            </div>
                            <div class="filter-product-color">
                                MÀU:
                                <div class="filter-color-list">
                                    @foreach (var item in ViewBag.ShowColorSub)
                                    {
                                        <li class="filter-color-item" value="@item.Id" style="cursor:pointer;list-style:none; margin-right:15px; height:34px"><img src="/image/@item.ColorImage" /></li>
                                    }
                                    <input type="hidden" class="active-color" />
                                </div>
                            </div>
                        </div>
                        <div class="filter-product-btn">
                            <!--  <input type="submit" class="btn-filter" id="btn-filter-product" style="cursor:pointer;" value="Lọc"/> -->
                            <a class="btn-filter" id="btn-filter-product" style="cursor:pointer;">Lọc</a>
                            <a href="ShowProducts?page=1&subcate_id=@Model.SubCate_id" class="btn-filter" id="btn-cancel-filter" style="cursor:pointer;">Đóng</a>
                            <div class="filter-cancel-choose">
                                <p id="btn-cancel-size">Huỷ chọn size</p>
                                <p id="btn-cancel-color">Huỷ chọn màu</p>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- </form>  -->
                <div id="content">
                    <div class="products">
                        <div class="row ">
                            @foreach (var item in ViewBag.ShowProducts)
                            {
                                <input type="hidden" value="@item.Id" id="product-id" />
                                <div class="col l-4 m-4 c-6 product-margin">
                                    @{ Color a = new Color();
                                        a = item.productcolorMaster[0];
                                        <li class="li-product-id" value="@item.Id" style="list-style:none;">

                                            <a id="@item.Id" href="ShowProductDetailObject?color_id=@a.Id&product_id=@item.Id" class="product" onclick="product_viewed(this.id)">
                                                <img id="product-img-@item.Id" class="product-image" src="~/image/@item.DefaultImage" alt="">
                                                <h4 class="product-name">@item.ProductName</h4>
                                            </a>
                                            <p class="sale-label">
                                                <span>SALE</span>
                                            </p>

                                        </li>
                                        double regular = item.RegularPrice; <!--Đặt dấu . vào tiền-->
                                        double sale = item.SalePrice;
                                        string regular_price = regular.ToString("N0",
                                        System.Globalization.CultureInfo.GetCultureInfo("de"));
                                        string sale_price = sale.ToString("N0",
                                        System.Globalization.CultureInfo.GetCultureInfo("de"));


                                        <p class="p-money" style="text-align:center;"><span class="span-money" style="text-decoration:line-through; color:rgb(153,153,153);">@regular_price<sup>đ</sup></span><span></span><span style="color:red">@sale_price<sup>đ</sup></span></p>
                                        <input type="hidden" value="@item.ProductName" class="wishlist-product_name-@item.Id" />
                                        <input type="hidden" value="@item.DefaultImage" class="wishlist-default_image-@item.Id" />
                                        <input type="hidden" value="@regular_price" class="wishlist-regular_price-@item.Id" />
                                        <input type="hidden" value="@sale_price" class="wishlist-sale_price-@item.Id" />
                                        <a class="wishlist_product_url-@item.Id" href="/product/ShowProductDetailObject?color_id=@a.Id&product_id=@item.Id"></a>

                                    }

                                    <input type="hidden" value="@item.Id" />


                                    <div class="rating-product-interface-@item.Id rating-product-temp">
                                        <div style=" font-size: 25px; cursor: default; " id="@item.Id" class="button_wishlist heart-color" onclick="add_wishlist(this.id)">&#10084;</div>


                                        @{
                                            double rating_d = item.ratingProduct;
                                            int rating;
                                            var color = "";
                                            if (rating_d == 0)
                                            {
                                                rating = 0;
                                                color = "";
                                            }
                                            else
                                            {
                                                rating = Convert.ToInt32(Math.Ceiling(rating_d));
                                                color = "";
                                            }


                                            <ul class="list-rating">

                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= rating)
                                                    {
                                                        color = "color:#ffcc00;";
                                                    }
                                                    else
                                                    {
                                                        color = "color:#ccc;";
                                                    }

                                                    <li class="rating" title="Star rating" id="" data-index="@i" data-rating="@rating"
                                                        data-product_id="" data-color_id="" style="color:#ccc;cursor:text; font-size:30px; @color">&#9733;</li>

                                                }

                                            </ul>
                                        }
                                    </div>
                                    <div class="watcher-product">
                                        <ul>
                                            @foreach (var index in item.productcolorMaster)
                                            {
                                                <li value="@index.Id" class="li-color-@item.Id">
                                                    <a>
                                                        <img id="color_small_@index.Id" class="img-color-small" src="~/image/@index.ColorImage" alt="">
                                                    </a>
                                                </li>
                                            }
                                        </ul>
                                    </div>



                                    <div class="product-variant">
                                        @foreach (var index in item.productvariant)
                                        {
                                            <input class="variant-img-@item.Id" type="hidden" value="@index.ColorId" src="~/image/@index.ProductVariantImage" />

                                        }
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    @{
                        double page_all = Convert.ToDouble(ViewBag.ShowAllProductsSub / Convert.ToDouble(9));
                        int page_total = Convert.ToInt32(Math.Ceiling(page_all));
                        int page_url = Convert.ToInt32(Context.Request.Query["page"]); //Lấy parameter page trên url
                        int page_prev = page_url - 1;
                        int page_after = page_url + 1;

                    }
                    <div class="pagination-top">
                        <ul>
                            @{
                                if (page_url > 1)
                                {
                                    <li class="btn prev">
                                        <p class="pagination-last" style="width:32px; height:32px; " href="ShowProducts?page=@page_prev&subcate_id=@Model.SubCate_id">
                                            <i style="width:32px; height:32px;" class="fas fa-angle-left"></i>
                                        </p>
                                    </li>
                                }
                                @for (int j = 1; j <= page_total; j++)
                                {
                                    <li>
                                        @if (page_url == j)
                                        {
                                            <a style="width:32px; height:32px; color: white; background: red" href="ShowProducts?page=@j&subcate_id=@Model.SubCate_id">@j</a>
                                        }
                                        else
                                        {
                                            <a style="width: 32px; height: 32px;" href="ShowProducts?page=@j&subcate_id=@Model.SubCate_id">@j</a>
                                        }
                                    </li>
                                }
                                if (page_url < page_total)
                                {
                                    <li class="btn next">
                                        <p class="pagination-last" style="width:32px; height:32px;"
                                           href="ShowProducts?page=@page_after&subcate_id=@Model.SubCate_id">
                                            <i style="width:32px; height:32px;" class="fas fa-angle-right"></i>
                                        </p>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>




<div class="header-page">

    <i style="color : white;" class="fa fa-angle-double-up" aria-hidden="true"></i>

</div>
<style>
    .block-filter .filter-product-box {
        display: flex;
    }

    .block .filter-product-box {
        display: flex;
    }

    .filter-product-box {
        display: none;
    }

    .active-size, .active-color {
        border: 2px solid black;
    }

    .header-page {
        width: 35px;
        height: 40px;
        background: black;
        float: right;
        bottom: 70px;
        position: fixed;
        right: 40px;
    }

        .header-page i {
            color: white;
            position: absolute;
            top: 10px;
            right: 13px;
            font-size: 18px;
        }

    .navigation-item a:hover {
        color: black;
    }

    .navigation-item a {
        color: rgb(153,153,153);
    }
    /*Tạo phần lên đầu trang*/
    .header-page {
        width: 35px;
        height: 40px;
        background: black;
        float: right;
        bottom: 70px;
        position: fixed;
        right: 40px;
        display: none;
    }



        .header-page i {
            color: white;
            position: absolute;
            top: 10px;
            right: 13px;
            font-size: 18px;
        }

    .active-filter {
        border: 2px solid black;
    }

    li {
        list-style: none;
    }

    .list-rating {
        display: flex;
        justify-content: center;
    }
     .block-color .heart-color {
        color: red;
    }
  
</style>
<script src="~/js/productHover.js"></script>
<script src="~/js/products.js"></script>

<script>

    $(".button_wishlist").each(function () {
        $(this).on("click", function () {
          
            var id = $(this).attr("id");
            $(".rating-product-interface-" + id).toggleClass("block-color");
        });
    });
       //Đánh giá
    function remove_background(product_id, color_id) {
        for (var count = 1; count <= 5; count++) {
            $("#" + product_id + "-" + color_id + "-" + count).css("color", "#ccc");
        }
    };


    $(document).on('mouseenter', '.rating', function () {
        var index = $(this).data("index");
        var product_id = $(this).data("product_id");
        var color_id = $(this).data("color_id");
        remove_background(product_id, color_id);
        for (var count = 1; count <= index; count++) {
            $("#" + product_id + "-" + color_id + "-" + count).css("color", "#ffcc00");
        }
    });


    $(document).on('mouseleave', '.rating', function () {
        var index = $(this).data("index");
        var product_id = $(this).data("product_id");
        var color_id = $(this).data("color_id");
        var rating = $(this).data("rating");
        remove_background(product_id, color_id);
        for (var count = 1; count <= rating; count++) {
            $("#" + product_id + "-" + color_id + "-" + count).css("color", "#ffcc00");
        }
    });

    $(document).on('click', '.rating', function () {
        var index = $(this).data("index");
        var product_id = $(this).data("product_id");
        var color_id = $(this).data("color_id");
        $.ajax({
            url: "../rating/InsertRating",
            type: "POST",
            dataType: "html",
            data: { product_id: product_id, index: index, color_id: color_id },
            success: function (data) {           //Xoá tất cả dữ liệu trước đó
                alert("Bạn đã đánh giá sản phẩm " + index + "trên 5 sao");
            },
            error: () => alert("something wrong")
        });

    });
    //Huỷ nút chọn size, chọn màu
    $("#btn-cancel-size").on("click", function () {
        $(".filter-size-item").removeClass("active-size");

    })

    $("#btn-cancel-color").on("click", function () {
        $(".filter-color-item").removeClass("active-color");

    })
    //Về đầu trang
    $(".header-page").on("click", function () {

        $('html').animate({ scrollTop: 0 }, 1000, 'linear');


    })
    window.addEventListener("scroll", function () {
        x = window.pageYOffset;
        if (x > 80) {
            $(".header-page").css("display", "block");

        }
        else {
            $(".header-page").css("display", "none");
        }


    })

    //Toggle cái bộ lọc
    $(".filter-modify").on("click", function () {
        $(this).addClass("active-filter");
        $(".filter-around").addClass("block");
        //  $(".filter-around").toggleClass("block-filter");
    });

    $("#btn-select-price").on("click", function () {
        $(".filter-modify").removeClass("active-filter");
        $(".filter-around").removeClass("block");
        $(".filter-size-item").removeClass("active-size");
        $(".filter-color-item").removeClass("active-color");
    });

    //Add border khi click vào size, color
    $(".filter-size-item").each(function () {
        $(this).on("click", function () {
            var current = document.getElementsByClassName("active-size");
            current[0].className = current[0].className.replace(" active-size", "");
            this.className += " active-size";
        })
    })

    $(".filter-color-item").each(function () {
        $(this).on("click", function () {
            var current = document.getElementsByClassName("active-color");
            current[0].className = current[0].className.replace(" active-color", "");
            this.className += " active-color";
        })
    })

    $(".filter-size-item").each(function () {
        $(this).on("click", function () {
            $("#get-size-id").attr("value", $(this).val());

        })
    })
    $(".filter-color-item").each(function () {
        $(this).on("click", function () {
            $("#get-color-id").attr("value", $(this).val());

        })
    })





    //Xử lý lọc

       var size_id;
        var color_id;
    $(".filter-color-item").each(function () {
        $(this).on("click", function () {
            color_id = $(this).val();
        });
    });
    $(".filter-size-item").each(function () {
        $(this).on("click", function () {
            size_id = $(this).val();
        });
    });
    $("#btn-cancel-color").on("click", function () {  //Gán lại undefined cho color_id khi mà nhấn nút huỷ
        color_id = undefined;
    })
    $("#btn-cancel-size").on("click", function () {  //Gán lại undefined cho size_id khi mà nhấn nút huỷ
        size_id = undefined;
    })

    $("#btn-filter-product").on("click", function () {
        // Lọc theo size
        if (size_id != undefined && color_id == undefined) {

            $.ajax({
                url: '@Url.Action("GetProductBySizeSub","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, size_id: size_id, subcate_id: @Model.SubCate_id  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });
        }
        else if (size_id == undefined && color_id != undefined) {
            $.ajax({
                url: '@Url.Action("GetProductByColorSub","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, color_id: color_id, subcate_id: @Model.SubCate_id  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });

        }
        else {
            $.ajax({
                url: '@Url.Action("GetProductByColorSizeSub","product")',
                type: "Get",
                dataType: "html",
                data: { page: 1, color_id: color_id, size_id:size_id, subcate_id: @Model.SubCate_id  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                },
                error: () => alert("something wrong")
            });
        }



    });



    $("#btn-select-price").on("change", function () {
        var str = $(this).val();
           var page =@page_url;
        $.ajax({

                url: "/product/"+str,
                type: "Get",
                dataType: "html",
                data: { page: page, subcate_id: @Model.SubCate_id  },
                success: function (data) {
                    $("#content").empty(); //Xoá tất cả dữ liệu trước đó
                    $("#content").html(data);//load lại cái mới
                    console.log(page);
                },
                error: () => alert("something wrong")
            });
    })

    //Tạo sản phẩm yêu thích

    function add_wishlist(click_id) {

        var id = click_id;
        var name = $(".wishlist-product_name-" + id).val();
        var image = $(".wishlist-default_image-" + id).val();
        var regular = $(".wishlist-regular_price-" + id).val();
        var sale = $(".wishlist-sale_price-" + id).val();
        var url = $(".wishlist_product_url-" + id).attr("href");
        var new_item = {
            'id': id,
            'name': name,
            'image': '/image/' + image,
            'regular': regular,
            'sale': sale,
            'url':'https://localhost:5001' + url
        }
        if (localStorage.getItem('data') == null) { //nếu key data bằng rỗng
            localStorage.setItem('data', '[]'); //set lại cho nó rỗng
        }
        var old_data = JSON.parse(localStorage.getItem('data')); //lấy dữ liệu
       // old_data.push(new_item); //Nếu mà trong cái sản phẩm yêu thích có dữ liệu rồi thì nó sẽ đấy cái product mới vào
       //   localStorage.setItem('data', JSON.stringify(old_data));  //set lại key data của item  /*

        var matches = $.grep(old_data, function (obj) {
            return obj.id == id;
        });
        if (matches.length) {

          //  alert("Sản phẩm bạn đã thêm vào rồi không thể thêm nữa");
        }
        else {
            old_data.push(new_item);
            $("#row_wishlist").append('<div  id="' + new_item.id +'" style="margin:10px 0; display: flex; justify-content:space-between;"><div class="col-md-4"><img src="' + new_item.image + '" width="80%"></div>' +
                '<div style="font-size:11px" ><p class="product-name-wishlist" style="color: black;">' + new_item.name + '</p><p style="color: black; text-decoration: line-through;">' + new_item.regular + '</p><p style="color: red"> ' + new_item.sale + '</p > <a style="color: blue;text-decoration: underline;" href="' + new_item.url + '">Xem chi tiết</a></div ></div > ');
        }

        localStorage.setItem('data', JSON.stringify(old_data));
    }


          function View() {
        if (localStorage.getItem('data') != null) {
            var data = JSON.parse(localStorage.getItem('data'));
            data.reverse(); //đảo ngược sản phẩm mới thêm lên đầu
            document.getElementById('row_wishlist').style.overflow = 'scroll';
            document.getElementById('row_wishlist').style.height = '300px';
            for (i = 0; i < data.length; i++) {

                var name = data[i].name;
                var id = data[i].id;
                var sale = data[i].sale;
                var regular = data[i].regular;
                var image = data[i].image;
                var url = data[i].url;
                $("#row_wishlist").append('<div id="'+id+'" style="margin:10px 0; display: flex; justify-content:space-between;"><div class="col-md-4"><img src="' + image + '" width="80%"></div>' +
                    '<div style="font-size:11px"><p class="product-name-wishlist" style="color: black;">' + name + '</p><p style="color: black;text-decoration: line-through;" >' + regular + '</p><p style="color:red">' + sale +'</p><a style="color: blue;text-decoration: underline;" href="' +url + '">Xem chi tiết</a></div></div>');
            }
        }
    }
    View();



    //viewed




    function product_viewed(click_id) {

        var id = click_id;
        var name = $(".wishlist-product_name-" + id).val();
        var image = $(".wishlist-default_image-" + id).val();
        var regular = $(".wishlist-regular_price-" + id).val();
        var sale = $(".wishlist-sale_price-" + id).val();
        var url = $(".wishlist_product_url-" + id).attr("href");
        var new_item = {
            'id': id,
            'name': name,
            'image': '/image/' + image,
            'regular': regular,
            'sale': sale,
            'url': 'https://localhost:5001' + url
        }
        if (localStorage.getItem('viewed') == null) { //nếu key data bằng rỗng
            localStorage.setItem('viewed', '[]'); //set lại cho nó rỗng
        }
        var old_data = JSON.parse(localStorage.getItem('viewed')); //lấy dữ liệu
        // old_data.push(new_item); //Nếu mà trong cái sản phẩm yêu thích có dữ liệu rồi thì nó sẽ đấy cái product mới vào
        //   localStorage.setItem('data', JSON.stringify(old_data));  //set lại key data của item  /*

        var matches = $.grep(old_data, function (obj) {
            return obj.id == id;
        });
        if (matches.length) {

           // alert("Sản phẩm bạn đã thêm vào rồi không thể thêm nữa");
        }
        else {
            old_data.push(new_item);
            $("#row_wishlist").append('<div id="' + new_item.id +'" style="margin:10px 0; display: flex; justify-content:space-between;"><div class="col-md-4"><img style ="width:70px; margin-top:8px ;" src="' + new_item.image + '"></div>' +
                '<div style="margin-left: 15px; font-size:11px" ><p class="product-name-wishlist" style="color: black;">' + new_item.name + '</p><p style="color: black; text-decoration: line-through;">' + new_item.regular + '</p><p style="color: red"> ' + new_item.sale + '</p > <a style="color: blue;text-decoration: underline;" href="' + new_item.url + '">Xem chi tiết</a></div ></div > ');
        }

        localStorage.setItem('viewed', JSON.stringify(old_data));
    }


    function Viewed() {
        if (localStorage.getItem('viewed') != null) {
            var data = JSON.parse(localStorage.getItem('viewed'));
            data.reverse(); //đảo ngược sản phẩm mới thêm lên đầu
            document.getElementById('row_viewed').style.overflow = 'scroll';
            document.getElementById('row_viewed').style.height = '300px';
            for (i = 0; i < data.length; i++) {

                var name = data[i].name;
                var id = data[i].id;
                var sale = data[i].sale;
                var regular = data[i].regular;
                var image = data[i].image;
                var url = data[i].url;
                $("#row_viewed").append('<div id="' + id +'" style="margin:10px 0; display: flex; justify-content:space-between;"><div class="col-md-4"><img style ="width:70px; margin-top:8px ;" src="' + image + '"></div>' +
                    '<div style="margin-left: 15px; font-size:11px"><p class="product-name-wishlist" style="color: black;">' + name + '</p><p style="color: black;text-decoration: line-through;" >' + regular + '</p><p style="color:red">' + sale + '</p><a style="color: blue;text-decoration: underline;" href="' + url + '">Xem chi tiết</a></div></div>');
            }
        }
    }
    Viewed();






</script>
